body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/images/RedCarpet.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(100%) blur(5px);
    z-index: -1;
}