.leaderboardContainer{
    width: fit-content;
    background-color: var(--dark-color);
    color: white;
    margin: .75rem auto;
    border-radius: 5px;
    padding: 1rem;
}

.leaderboardTitle{
    font-size: 2rem;
    font-weight: 200;
}

.leaderboardTable{
    width: 600px;
    border-collapse: collapse;
    margin-top: 1rem;
}

.leaderboardTable th{
    text-align: left;
    font-weight: 200;
    padding-bottom: .2rem;
}

.leaderboardTable tr{
    height: 1.75rem;
}

.pos{
    width: 5%;
}

.username{
    width: 50%;
}

.categories, .points{
    width: 10%;
}

.leaderboardTable tbody{
    font-size: 1.1rem;
    font-weight: 600;
}

.userUsername{
    text-transform: uppercase;
}

.firstPlace{
    color: #d39f03;
}

.secondPlace{
    color: #A6A6A6;
}

.thirdPlace{
    color: #A64D00;
}

@media screen and (max-width: 700px){
    .leaderboardTable{
        width: 95%;
    }

    .pos, .username, .categories, .points{
        padding-right: .75rem;
        width: fit-content;
    }

    .userUsername{
        width: fit-content;
        padding-right: .75rem;
    }
}