.card{
    display: flex;
    height: 81vh;
    align-items: center;
    justify-content: center;
}

.arrow{
    font-size: 26px;
    background-color: var(--light-color);
    color: var(--dark-color);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin: 5px;
    height: 40px;
    width: 40px;
}

.arrow svg {
    vertical-align: -.25rem;
  }