footer{
    background-color: var(--dark-color);
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
}

footer p, footer a{
    color: var(--light-color);
    text-align: center;
    padding: 15px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 200;
    margin: 0;
}