div{
    margin: 5px;
}

p, a{
    color: var(--light-color);
    font-size: 11px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    margin: 0;
}

a{
    font-weight: 500;
}

a:hover{
    color: var(--primary-color);
}