.category{
    font-size: 24px;
    font-weight: 300;
    color: white;
    text-align: center;
    width: 300px;
}

.category span{
    font-weight: bold;
    margin-left: 10px;
    background-color: var(--secondary-color);
    padding: 2px 7px;
    border-radius: 5px;
}

.nominees{
    width: 300px;
    align-items: center;
    justify-content: center;
}

.nomineeButton{
    width: 300px;
    margin: 2px 0;
    background-color: var(--dark-color);
    border: none;
    border-radius: 5px;
    padding: 4px;
}

.nomineeButton:hover{
    filter: brightness(0.85);
    cursor: pointer;
}

.userBet{
    background-color: var(--primary-color);
}

.selected{
    background-color: var(--secondary-color);
}

.nomineeMovie{
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-align: left;
    margin: 0;
}

.nomineeName{
    font-size: 11px;
    color: white;
    text-align: left;
    font-style: italic;
    margin: 0;
}

.send{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px;
}

@media screen and (min-width: 600px) and (max-height: 700px){
    .category{
        width: 500px;
    }

    .nomineeButton{
        width: 500px;
    }

    .nominees{
        width: 500px;
    }
    
}

@media screen and (max-height: 700px) and (max-width: 600px){
    .category{
        font-size: 18px;
    }

    .nomineeMovie{
        font-size: 12px;
    }

    .nomineeName{
        font-size: 10px;
    }
}