.category{
    font-size: 22px;
    font-weight: 300;
    color: white;
    text-align: center;
}

.nominees{
    width: 300px;
    align-items: center;
    justify-content: center;
}

.nomineeButton{
    width: 300px;
    margin: 2px 0;
    background-color: var(--dark-color);
    border: none;
    border-radius: 5px;
    padding: 4px;
}

.nomineeButton:hover{
    filter: brightness(0.85);
    cursor: pointer;
}

.userBet{
    background-color: var(--primary-color);
}

.selected{
    background-color: var(--secondary-color);
}

.nomineeMovie{
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-align: left;
    margin: 0;
}

.nomineeName{
    font-size: 12px;
    color: white;
    text-align: left;
    font-style: italic;
    margin: 0;
}

.send{
    display: flex;
    flex-direction: column;
    align-items: center;
}